{% extends 'SiteWideBasePage.html' %}

{% block pageStuff %}
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome to RotoJudge!</h1>
        <h2>    </h2>
        <h6>Fantasy Football like you've never seen it before.</h6>
        <p><a class="btn btn-primary btn-large" href="/football/login">Login &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span8">
          <h2>Sign up!</h2>
           <p>Get your stats for your NFL Fantasy Football league! We compile your data every week and show you how your decisions have panned out. Hoepfully, this will put you in the position to make better ones in the future.  </p>
          <p><a class="btn" href="CreateAccount">Create Account &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>See a sample page</h2>
           <p>View a sample display of your League's screen with all of the bells and whistles.</p>
          <p><a class="btn" href="/football/1/LeagueHome">View sample &raquo;</a></p>
       </div>
      </div>

{% endblock %}