<!DOCTYPE html>
{% extends 'StatBasePage.html' %}


{% block statContent %}

    <div class=row>
    <div class= "span8">
    <h2>Player Values</h2>
                <p>We calculate your player values by comparing two simple stats: the total number of points a player has earned this season, and that player's pick number.
                The resulting 'player value index' is a numberic description of that player's value on your team.
                A high player value is very good, while a low player value may prompt you to re-consider your draft decisions. </p>
            
    </div>
    </div>



             
{% endblock %}